<mat-toolbar color="primary">
  <h1>My Portfolio</h1>
  <a [routerLink]="['projects/ct-info']">CT Info</a>
  <a [routerLink]="['projects/ct-editor']">CT Editor</a>
  <a [routerLink]="['projects/aircare']">AirCare</a>
  <span class="divider"></span>
  <a [routerLink]="['projects/open']">Open</a>
  <a [routerLink]="['projects/usda']">USDA</a>
  <span class="divider"></span>
  <a [routerLink]="['projects/thue']">Thue</a>
  <a [routerLink]="['projects/thue-website']">Thue Website</a>
  <span class="divider"></span>
  <a [routerLink]="['projects/challenges']">Challenges</a>

  <a [routerLink]="['projects/ct-info']" target="_blank" class="cv" >My CV</a>
</mat-toolbar>