<div class="home-container">
  <h1 class="hero">Hi!</h1>
  <p>
    <img src="/assets/profile.jpg" alt="A very handsome man" class="profile-picture">
    I'm Marco, and this is my portfolio, showcasing some of my work.
  </p>
  <p>I'm a Fullstack Developer from Koblenz, Germany. I love working with web technologies and connecting people with data through intuitive interfaces. My aim is to use my technical skills to make a contribution towards solving global issues like climate change, food-shortage and global health.</p>
  <p>Recently I have taken a timeout to <a href="https://polarsteps.com/westwood">solo-travel through West- and South-Asia</a> in order to gain some perspective on the World. Now I am looking into living and working in Singapore for the next stage of my life.</p>
  
  <h2>Frontend</h2>
  <p>I've worked with frontend technologies extensively. Nowadays I mostly use Angular for my own projects. Some other core technologies I'm familiar with are Pug, SASS, Bootstrap and jQuery. I like to stick to Google's Material design as a matter of personal preference but I can roll my own design when I have to. I've worked with wireframes and mocks from designers in the past and enjoy a lifely discussion about web design decisions, though I'm not a designer myself.</p>

  <img src="/assets/thorong-la.jpg" alt="Marco on the Thorong La pass in Nepal" class="block-img">
  
  <h2>Backend</h2>
  <p>I've had a lot of exposure to all kinds of backend systems. My favorite setup for the moment is Express/Node.js with a MongoDB. I have worked with Ruby/RoR, Sinatra, Spring Bootstrap, JavaEE, Laravel, RethinkDB, CouchDB, MySQL and SQLite in the past, to name some. I'm experienced in consuming RESTful APIs, be it external ones or my own.</p>

  <img src="/assets/crow.jpg" alt="A very meaningful picture" class="block-img">
</div>