<div class="home-container">
  <h1 class="hero">Hi!</h1>
  <p>
    <img src="/assets/profile.jpg" alt="A very handsome man" class="profile-picture">
    I'm Marco, and this is my portfolio, showcasing some of my work.
  </p>
  <p>I'm a Fullstack Developer from Koblenz, Germany. I love working with web technologies and connecting people with data through intuitive interfaces. My aim is to use my technical skills to make a contribution towards solving global issues like climate change, food-shortage and global health.</p>
  <p>Recently I have taken a timeout to <a href="https://polarsteps.com/westwood">solo-travel through West- and South-Asia</a> in order to gain some perspective on the World. Now I am looking into living and working in Singapore for the next stage of my life.</p>
  
  <h2>Some Heading</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque culpa dolores explicabo neque quis enim eveniet minus cumque nobis magnam. Voluptates eum at sit! Incidunt deleniti temporibus quibusdam repudiandae rem.</p>

  <img src="/assets/thorong-la.jpg" alt="Marco on the Thorong La pass in Nepal" class="block-img">
  
  <h2>Some Heading</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque culpa dolores explicabo neque quis enim eveniet minus cumque nobis magnam. Voluptates eum at sit! Incidunt deleniti temporibus quibusdam repudiandae rem.</p>

  <img src="/assets/crow.jpg" alt="A very meaningful picture" class="block-img">
</div>