<div class="business-card">
  <h1 class="name">Marco Brack</h1>
  <h3 class="subtitle">Fullstack&DevOps Engineer</h3>
  
  
  Auf dem Wasem 8<br>
  56132 Kemmenau, Germany<br>
  <a href="mailto:marcobrack93@gmail.com" target="about:blank">marcobrack93@gmail.com</a><br>
  <a href="https://github.com/westwood846" target="about:blank">github.com/westwood846</a><br>
  <a href="tel:+65 8251 6640">+65 8251 6640</a> / <a href="https://wa.me/4916097603079?text=Hi%20Marco,%20nice%20CV,%20would%20you%20be%20interested%20in%20working%20for%20us?">+49 160 97603079</a>
  <span></span>
</div>